@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Site.css?v=1">
<div class="jumbotron" style="background-color:transparent !important; color:white;" >

    <h1 style=" text-shadow: 2px 2px 4px #000000;">Seja bem vindo </h1>
    
</div>

<div class="row">

    <div class="container body-content">

        <div class="fullscreen-bg">
            <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video" style="opacity: 1.0;">

                <source src="~/Content/Video/Multiverse.mp4" type="video/mp4" style="opacity: 1.0;">

            </video>
        </div>
        <div class="col-md-4" style="justify-content:center;margin: auto;width: 100%;">

            <p style="color:white; font-size:20px; text-shadow: 2px 2px 4px #000000;">
                Multiverso ou multiuniverso é um conjunto de muitos universos. Existem muitos usos específicos do conceito, bem como sistemas nos quais é proposto que exista um multiverso. Ele pode significar:

                Em física e cosmologia:
                Multiverso (ciência), grupo hipotético de todos os universos possíveis.
                Interpretação de muitos mundos da física quântica, a qual propôs uma alternativa ao colapso da função onda. Cada evento não-determinístico efetivamente "divide" o mundo em dois ramos.
                Teoria do universo-bolha (também conhecida como Teoria da bolha), na qual novos universos brotam dos antigos.
                Universo oscilante, uma teoria na qual o universo vivencia infinitos "Big Crunches" seguidos por infinitos "Big Bangs". Cada universo sucede ao anterior.
                Teoria da inflação caótica, a qual propõe uma teoria de multiverso aberto.

                "Os Nove Mundos", segundo o antigo esquema da Cosmologia nórdica.
                Na ficção:
                Universo paralelo (ficção), interpretações ficcionais usadas principalmente em ficção científica e ficção especulativa.
                Universo DC, ou Multiverso DC, o multiverso do ambiente ficcional usado pela DC Comics.
                Universo Marvel, ou Multiverso Marvel, o multiverso do ambiente ficcional usado pela Marvel Comics.
            </p>

            <p><a href="https://pt.wikipedia.org/wiki/Multiverso" class="btn btn-primary btn-lg">Fonte wikipedia</a></p>
        </div>
    </div>

</div>
