################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultiversoUniversidade/v15/Server/sqlite3
/MultiversoUniversidade/.vs/MultiversoUniversidade/v15/Server/sqlite3
/MultiversoUniversidade/.vs/MultiversoUniversidade/v15/.suo
/MultiversoUniversidade/MultiversoUniversidade/App_Data/MultiversoUniversidade_log.ldf
/MultiversoUniversidade/MultiversoUniversidade/App_Data/MultiversoUniversidade.mdf
