
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a.imgPrincipal {
    background: url(../Images/multiversosP.jpg) no-repeat top left;
    display: block;
    width:  50px;
    height:  50px;
    text-indent: -9999px; /* hides the link text */
}

 
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1000;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.jumbotron {
    min-width: 585px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    border: 0.08em solid black;
}
.divCentro {
    
    justify-content: center;
 
}

/*--------------------------------------------------------------------------------------------------------------------*/

/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

summary {
    display: list-item
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

    a:active, a:hover {
        outline-width: 0
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

    button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
/* End extract */
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.mu-serif {
    font-family: serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.mu-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.mu-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.mu-table, .mu-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.mu-table-all {
    border: 1px solid #ccc
}

    .mu-bordered tr, .mu-table-all tr {
        border-bottom: 1px solid #ddd
    }

.mu-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.mu-table-all tr:nth-child(odd) {
    background-color: #fff
}

.mu-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.mu-hoverable tbody tr:hover, .mu-ul.mu-hoverable li:hover {
    background-color: #ccc
}

.mu-centered tr th, .mu-centered tr td {
    text-align: center
}

.mu-table td, .mu-table th, .mu-table-all td, .mu-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

    .mu-table th:first-child, .mu-table td:first-child, .mu-table-all th:first-child, .mu-table-all td:first-child {
        padding-left: 16px
    }

.mu-btn, .mu-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

    .mu-btn:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    }

.mu-btn, .mu-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .mu-disabled, .mu-btn:disabled, .mu-button:disabled {
        cursor: not-allowed;
        opacity: 0.3
    }

        .mu-disabled *, :disabled * {
            pointer-events: none
        }

        .mu-btn.mu-disabled:hover, .mu-btn:disabled:hover {
            box-shadow: none
        }

.mu-badge, .mu-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.mu-badge {
    border-radius: 50%
}

.mu-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

    .mu-ul li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd
    }

        .mu-ul li:last-child {
            border-bottom: none
        }

.mu-tooltip, .mu-display-container {
    position: relative
}

    .mu-tooltip .mu-text {
        display: none
    }

    .mu-tooltip:hover .mu-text {
        display: inline-block
    }

.mu-ripple:active {
    opacity: 0.5
}

.mu-ripple {
    transition: opacity 0s
}

.mu-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.mu-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.mu-dropdown-click, .mu-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

    .mu-dropdown-hover:hover .mu-dropdown-content {
        display: block
    }

    .mu-dropdown-hover:first-child, .mu-dropdown-click:hover {
        background-color: #ccc;
        color: #000
    }

        .mu-dropdown-hover:hover > .mu-button:first-child, .mu-dropdown-click:hover > .mu-button:first-child {
            background-color: #ccc;
            color: #000
        }

.mu-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.mu-check, .mu-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.mu-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.mu-bar-block .mu-dropdown-hover, .mu-bar-block .mu-dropdown-click {
    width: 100%
}

    .mu-bar-block .mu-dropdown-hover .mu-dropdown-content, .mu-bar-block .mu-dropdown-click .mu-dropdown-content {
        min-width: 100%
    }

    .mu-bar-block .mu-dropdown-hover .mu-button, .mu-bar-block .mu-dropdown-click .mu-button {
        width: 100%;
        text-align: left;
        padding: 8px 16px
    }

.mu-main, #main {
    transition: margin-left .4s
}

.mu-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.mu-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.mu-bar {
    width: 100%;
    overflow: hidden
}

.mu-center .mu-bar {
    display: inline-block;
    width: auto
}

.mu-bar .mu-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.mu-bar .mu-dropdown-hover, .mu-bar .mu-dropdown-click {
    position: static;
    float: left
}

.mu-bar .mu-button {
    white-space: normal
}

.mu-bar-block .mu-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.mu-bar-block.mu-center .mu-bar-item {
    text-align: center
}

.mu-block {
    display: block;
    width: 100%
}

.mu-responsive {
    display: block;
    overflow-x: auto
}

.mu-container:after, .mu-container:before, .mu-panel:after, .mu-panel:before, .mu-row:after, .mu-row:before, .mu-row-padding:after, .mu-row-padding:before,
.mu-cell-row:before, .mu-cell-row:after, .mu-clear:after, .mu-clear:before, .mu-bar:before, .mu-bar:after {
    content: "";
    display: table;
    clear: both
}

.mu-col, .mu-half, .mu-third, .mu-twothird, .mu-threequarter, .mu-quarter {
    float: left;
    width: 100%
}

    .mu-col.s1 {
        width: 8.33333%
    }

    .mu-col.s2 {
        width: 16.66666%
    }

    .mu-col.s3 {
        width: 24.99999%
    }

    .mu-col.s4 {
        width: 33.33333%
    }

    .mu-col.s5 {
        width: 41.66666%
    }

    .mu-col.s6 {
        width: 49.99999%
    }

    .mu-col.s7 {
        width: 58.33333%
    }

    .mu-col.s8 {
        width: 66.66666%
    }

    .mu-col.s9 {
        width: 74.99999%
    }

    .mu-col.s10 {
        width: 83.33333%
    }

    .mu-col.s11 {
        width: 91.66666%
    }

    .mu-col.s12 {
        width: 99.99999%
    }

@media (min-width:601px) {
    .mu-col.m1 {
        width: 8.33333%
    }

    .mu-col.m2 {
        width: 16.66666%
    }

    .mu-col.m3, .mu-quarter {
        width: 24.99999%
    }

    .mu-col.m4, .mu-third {
        width: 33.33333%
    }

    .mu-col.m5 {
        width: 41.66666%
    }

    .mu-col.m6, .mu-half {
        width: 49.99999%
    }

    .mu-col.m7 {
        width: 58.33333%
    }

    .mu-col.m8, .mu-twothird {
        width: 66.66666%
    }

    .mu-col.m9, .mu-threequarter {
        width: 74.99999%
    }

    .mu-col.m10 {
        width: 83.33333%
    }

    .mu-col.m11 {
        width: 91.66666%
    }

    .mu-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .mu-col.l1 {
        width: 8.33333%
    }

    .mu-col.l2 {
        width: 16.66666%
    }

    .mu-col.l3 {
        width: 24.99999%
    }

    .mu-col.l4 {
        width: 33.33333%
    }

    .mu-col.l5 {
        width: 41.66666%
    }

    .mu-col.l6 {
        width: 49.99999%
    }

    .mu-col.l7 {
        width: 58.33333%
    }

    .mu-col.l8 {
        width: 66.66666%
    }

    .mu-col.l9 {
        width: 74.99999%
    }

    .mu-col.l10 {
        width: 83.33333%
    }

    .mu-col.l11 {
        width: 91.66666%
    }

    .mu-col.l12 {
        width: 99.99999%
    }
}

.mu-rest {
    overflow: hidden
}

.mu-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.mu-content, .mu-auto {
    margin-left: auto;
    margin-right: auto
}

.mu-content {
    max-width: 980px
}

.mu-auto {
    max-width: 1140px
}

.mu-cell-row {
    display: table;
    width: 100%
}

.mu-cell {
    display: table-cell
}

.mu-cell-top {
    vertical-align: top
}

.mu-cell-middle {
    vertical-align: middle
}

.mu-cell-bottom {
    vertical-align: bottom
}

.mu-hide {
    display: none !important
}

.mu-show-block, .mu-show {
    display: block !important
}

.mu-show-inline-block {
    display: inline-block !important
}

@media (max-width:1205px) {
    .mu-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .mu-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .mu-modal {
        padding-top: 30px
    }

    .mu-dropdown-hover.mu-mobile .mu-dropdown-content, .mu-dropdown-click.mu-mobile .mu-dropdown-content {
        position: relative
    }

    .mu-hide-small {
        display: none !important
    }

    .mu-mobile {
        display: block;
        width: 100% !important
    }

    .mu-bar-item.mu-mobile, .mu-dropdown-hover.mu-mobile, .mu-dropdown-click.mu-mobile {
        text-align: center
    }

        .mu-dropdown-hover.mu-mobile, .mu-dropdown-hover.mu-mobile .mu-btn, .mu-dropdown-hover.mu-mobile .mu-button, .mu-dropdown-click.mu-mobile, .mu-dropdown-click.mu-mobile .mu-btn, .mu-dropdown-click.mu-mobile .mu-button {
            width: 100%
        }
}

@media (max-width:768px) {
    .mu-modal-content {
        width: 500px
    }

    .mu-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .mu-modal-content {
        width: 900px
    }

    .mu-hide-large {
        display: none !important
    }

    .mu-sidebar.mu-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .mu-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .mu-sidebar.mu-collapse {
        display: none
    }

    .mu-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .mu-auto {
        max-width: 100%
    }
}

.mu-top, .mu-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.mu-top {
    top: 0
}

.mu-bottom {
    bottom: 0
}

.mu-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

.mu-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.mu-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.mu-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.mu-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.mu-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.mu-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.mu-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

.mu-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.mu-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.mu-display-container:hover .mu-display-hover {
    display: block
}

.mu-display-container:hover span.mu-display-hover {
    display: inline-block
}

.mu-display-hover {
    display: none
}

.mu-display-position {
    position: absolute
}

.mu-circle {
    border-radius: 50%
}

.mu-round-small {
    border-radius: 2px
}

.mu-round, .mu-round-medium {
    border-radius: 4px
}

.mu-round-large {
    border-radius: 8px
}

.mu-round-xlarge {
    border-radius: 16px
}

.mu-round-xxlarge {
    border-radius: 32px
}

.mu-row-padding, .mu-row-padding > .mu-half, .mu-row-padding > .mu-third, .mu-row-padding > .mu-twothird, .mu-row-padding > .mu-threequarter, .mu-row-padding > .mu-quarter, .mu-row-padding > .mu-col {
    padding: 0 8px
}

.mu-container, .mu-panel {
    padding: 0.01em 16px
}

.mu-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.mu-code, .mu-codespan {
    font-family: Consolas,"courier new";
    font-size: 16px
}

.mu-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.mu-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.mu-card, .mu-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.mu-card-4, .mu-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.mu-spin {
    animation: w3-spin 2s infinite linear
}

@keyframes w3-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.mu-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.mu-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.mu-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.mu-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.mu-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.mu-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.mu-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.mu-animate-input {
    transition: width 0.4s ease-in-out
}

    .mu-animate-input:focus {
        width: 100% !important
    }

.mu-opacity, .mu-hover-opacity:hover {
    opacity: 0.60
}

.mu-opacity-off, .mu-hover-opacity-off:hover {
    opacity: 1
}

.mu-opacity-max {
    opacity: 0.25
}

.mu-opacity-min {
    opacity: 0.75
}

.mu-greyscale-max, .mu-grayscale-max, .mu-hover-greyscale:hover, .mu-hover-grayscale:hover {
    filter: grayscale(100%)
}

.mu-greyscale, .mu-grayscale {
    filter: grayscale(75%)
}

.mu-greyscale-min, .mu-grayscale-min {
    filter: grayscale(50%)
}

.mu-sepia {
    filter: sepia(75%)
}

.mu-sepia-max, .mu-hover-sepia:hover {
    filter: sepia(100%)
}

.mu-sepia-min {
    filter: sepia(50%)
}

.mu-tiny {
    font-size: 10px !important
}

.mu-small {
    font-size: 12px !important
}

.mu-medium {
    font-size: 15px !important
}

.mu-large {
    font-size: 18px !important
}

.mu-xlarge {
    font-size: 24px !important
}

.mu-xxlarge {
    font-size: 36px !important
}

.mu-xxxlarge {
    font-size: 48px !important
}

.mu-jumbo {
    font-size: 64px !important
}

.mu-left-align {
    text-align: left !important
}

.mu-right-align {
    text-align: right !important
}

.mu-justify {
    text-align: justify !important
}

.mu-center {
    text-align: center !important
}

.mu-border-0 {
    border: 0 !important
}

.mu-border {
    border: 1px solid #ccc !important
}

.mu-border-top {
    border-top: 1px solid #ccc !important
}

.mu-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.mu-border-left {
    border-left: 1px solid #ccc !important
}

.mu-border-right {
    border-right: 1px solid #ccc !important
}

.mu-topbar {
    border-top: 6px solid #ccc !important
}

.mu-bottombar {
    border-bottom: 6px solid #ccc !important
}

.mu-leftbar {
    border-left: 6px solid #ccc !important
}

.mu-rightbar {
    border-right: 6px solid #ccc !important
}

.mu-section, .mu-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.mu-margin {
    margin: 16px !important
}

.mu-margin-top {
    margin-top: 16px !important
}

.mu-margin-bottom {
    margin-bottom: 16px !important
}

.mu-margin-left {
    margin-left: 16px !important
}

.mu-margin-right {
    margin-right: 16px !important
}

.mu-padding-small {
    padding: 4px 8px !important
}

.mu-padding {
    padding: 8px 16px !important
}

.mu-padding-large {
    padding: 12px 24px !important
}

.mu-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.mu-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.mu-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.mu-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.mu-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.mu-left {
    float: left !important
}

.mu-right {
    float: right !important
}

.mu-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.mu-transparent, .mu-hover-none:hover {
    background-color: transparent !important
}

.mu-hover-none:hover {
    box-shadow: none !important
}
/* Colors */
.mu-amber, .mu-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.mu-aqua, .mu-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.mu-blue, .mu-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.mu-light-blue, .mu-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.mu-brown, .mu-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.mu-cyan, .mu-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.mu-blue-grey, .mu-hover-blue-grey:hover, .mu-blue-gray, .mu-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.mu-green, .mu-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.mu-light-green, .mu-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.mu-indigo, .mu-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.mu-khaki, .mu-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.mu-lime, .mu-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.mu-orange, .mu-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.mu-deep-orange, .mu-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.mu-pink, .mu-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.mu-purple, .mu-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.mu-deep-purple, .mu-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.mu-red, .mu-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.mu-sand, .mu-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.mu-teal, .mu-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.mu-yellow, .mu-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.mu-white, .mu-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.mu-black, .mu-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.mu-grey, .mu-hover-grey:hover, .mu-gray, .mu-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.mu-light-grey, .mu-hover-light-grey:hover, .mu-light-gray, .mu-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.mu-dark-grey, .mu-hover-dark-grey:hover, .mu-dark-gray, .mu-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.mu-pale-red, .mu-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.mu-pale-green, .mu-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.mu-pale-yellow, .mu-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.mu-pale-blue, .mu-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.mu-text-amber, .mu-hover-text-amber:hover {
    color: #ffc107 !important
}

.mu-text-aqua, .mu-hover-text-aqua:hover {
    color: #00ffff !important
}

.mu-text-blue, .mu-hover-text-blue:hover {
    color: #2196F3 !important
}

.mu-text-light-blue, .mu-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.mu-text-brown, .mu-hover-text-brown:hover {
    color: #795548 !important
}

.mu-text-cyan, .mu-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.mu-text-blue-grey, .mu-hover-text-blue-grey:hover, .mu-text-blue-gray, .mu-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.mu-text-green, .mu-hover-text-green:hover {
    color: #4CAF50 !important
}

.mu-text-light-green, .mu-hover-text-light-green:hover {
    color: #8bc34a !important
}

.mu-text-indigo, .mu-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.mu-text-khaki, .mu-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.mu-text-lime, .mu-hover-text-lime:hover {
    color: #cddc39 !important
}

.mu-text-orange, .mu-hover-text-orange:hover {
    color: #ff9800 !important
}

.mu-text-deep-orange, .mu-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.mu-text-pink, .mu-hover-text-pink:hover {
    color: #e91e63 !important
}

.mu-text-purple, .mu-hover-text-purple:hover {
    color: #9c27b0 !important
}

.mu-text-deep-purple, .mu-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.mu-text-red, .mu-hover-text-red:hover {
    color: #f44336 !important
}

.mu-text-sand, .mu-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.mu-text-teal, .mu-hover-text-teal:hover {
    color: #009688 !important
}

.mu-text-yellow, .mu-hover-text-yellow:hover {
    color: #d2be0e !important
}

.mu-text-white, .mu-hover-text-white:hover {
    color: #fff !important
}

.mu-text-black, .mu-hover-text-black:hover {
    color: #000 !important
}

.mu-text-grey, .mu-hover-text-grey:hover, .mu-text-gray, .mu-hover-text-gray:hover {
    color: #757575 !important
}

.mu-text-light-grey, .mu-hover-text-light-grey:hover, .mu-text-light-gray, .mu-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.mu-text-dark-grey, .mu-hover-text-dark-grey:hover, .mu-text-dark-gray, .mu-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.mu-border-amber, .mu-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.mu-border-aqua, .mu-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.mu-border-blue, .mu-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.mu-border-light-blue, .mu-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.mu-border-brown, .mu-hover-border-brown:hover {
    border-color: #795548 !important
}

.mu-border-cyan, .mu-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.mu-border-blue-grey, .mu-hover-border-blue-grey:hover, .mu-border-blue-gray, .mu-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.mu-border-green, .mu-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.mu-border-light-green, .mu-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.mu-border-indigo, .mu-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.mu-border-khaki, .mu-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.mu-border-lime, .mu-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.mu-border-orange, .mu-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.mu-border-deep-orange, .mu-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.mu-border-pink, .mu-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.mu-border-purple, .mu-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.mu-border-deep-purple, .mu-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.mu-border-red, .mu-hover-border-red:hover {
    border-color: #f44336 !important
}

.mu-border-sand, .mu-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.mu-border-teal, .mu-hover-border-teal:hover {
    border-color: #009688 !important
}

.mu-border-yellow, .mu-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.mu-border-white, .mu-hover-border-white:hover {
    border-color: #fff !important
}

.mu-border-black, .mu-hover-border-black:hover {
    border-color: #000 !important
}

.mu-border-grey, .mu-hover-border-grey:hover, .mu-border-gray, .mu-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.mu-border-light-grey, .mu-hover-border-light-grey:hover, .mu-border-light-gray, .mu-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.mu-border-dark-grey, .mu-hover-border-dark-grey:hover, .mu-border-dark-gray, .mu-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.mu-border-pale-red, .mu-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important
}

.mu-border-pale-green, .mu-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.mu-border-pale-yellow, .mu-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important
}

.mu-border-pale-blue, .mu-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}